@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: thronesdb;
  src: url(https://throneteki-fonts.s3.us-west-1.amazonaws.com/thronesdb.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'thronesdb';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-baratheon:before {
  content: "\e600";
}

.icon-greyjoy:before {
  content: "\e601";
}

.icon-lannister:before {
  content: "\e603";
}

.icon-martell:before {
  content: "\e604";
}

.icon-thenightswatch:before {
  content: "\e606";
}

.icon-stark:before {
  content: "\e608";
}

.icon-targaryen:before {
  content: "\e609";
}

.icon-tyrell:before {
  content: "\e60a";
}

.icon-neutral:before {
  content: "\e612";
}

.icon-military:before {
  content: "\e605";
}

.icon-intrigue:before {
  content: "\e602";
}

.icon-power:before {
  content: "\e607";
}

.icon-unique:before {
  content: "\e60b";
}

.icon-character:before {
  content: "\e60f";
}

.icon-location:before {
  content: "\e60e";
}

.icon-attachment:before {
  content: "\e60d";
}

.icon-event:before {
  content: "\e610";
}

.icon-plot:before {
  content: "\e60c";
}

.icon-agenda:before {
  content: "\e611";
}

.baratheon {
  border-color: #E3D852 !important;
}

.greyjoy {
  border-color: #1D7A99 !important;
}

.lannister {
  border-color: #C00106 !important;
}

.martell {
  border-color: #E89521 !important;
}

.thenightswatch {
  border-color: #7A7A7A !important;
}

.stark {
  border-color: #CFCFCF !important;
}

.targaryen {
  border-color: #1C1C1C !important;
}

.tyrell {
  border-color: #509F16 !important;
}

.neutral {
  border-color: #A99560 !important;
}

.character .gold-box, .location .gold-box, .attachment .gold-box, .event .gold-box {
  position: relative;
  top: -7.5px;
  left: -7.5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  font-size: 35px;
}

.character .type-box, .location .type-box, .attachment .type-box, .event .type-box {
  position: relative;
  top: -5px;
  left: 2px;
}

.character .watermark-box, .location .watermark-box, .attachment .watermark-box, .event .watermark-box {
  padding-top: 40px;
}

.character .name-box, .location .name-box, .attachment .name-box, .event .name-box {
  height: 35px;
  background-color: white;
}

.character .faction-box, .location .faction-box, .attachment .faction-box, .event .faction-box {
  background-color: white;
  border: 2px solid black;
}

.name-box {
  font-size: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 5px 0px 5px;
}

.faction-box {
  height: 35px;
  width: 35px;
  font-size: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.type-box {
  font-size: 8px;
}

.loyal-box {
  width: 35px;
  height: 15px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-box {
  line-height: 1.2;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.watermark-box {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #EAEAEA;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.watermark-box .card-version {
  font-size: 36px;
  line-height: 36px;
}

.traits-box {
  width: 100%;
  height: 20px;
  font-size: 12px;
  text-align: center;
}

.ability-box {
  width: 100%;
}

.ability-box .card-ability br {
  display: block;
  content: "";
  margin-top: 0.5em;
}

.ability-box .card-ability i {
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0px;
  /* A4 @ 96 PPI/DPI */
  width: 792px;
  height: 1123px;
  border: 1px solid red;
}

.sheet {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card {
  width: calc(240px - 30px);
  height: calc(333px - 30px);
  border-width: 15px;
  border-style: solid;
  border-color: white;
  margin: 2.5px;
}

.card.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.character > .top-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card.character > .top-panel > .left-panel, .card.character > .top-panel > .right-panel {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card.character > .top-panel > .left-panel {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.character > .top-panel > .left-panel .challenge-icon-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.character > .top-panel > .left-panel .challenge-icon-box [class*="icon-"] {
  font-size: 20px;
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.character > .top-panel > .center-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.character > .top-panel > .right-panel {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card.character > .center-panel {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card.character > .center-panel .strength-box {
  height: 35px;
  width: 35px;
  font-size: 22px;
  background-color: #ebebeb;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.character > .center-panel .name-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  background-color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
  border-right: 0px;
}

.card.character > .bottom-panel .text-box {
  height: 105px;
}

.card.character > .bottom-panel .text-box .traits-box {
  height: 20px;
}

.card.character > .bottom-panel .text-box .ability-box {
  height: 85px;
}

.card.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.card.location > .left-panel {
  position: relative;
  float: left;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.location > .left-panel .name-box {
  width: 35px;
  height: 50%;
  border-top: 0px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 5px 0px 5px 0px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card.location > .right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card.location > .right-panel .text-box {
  height: 150px;
}

.card.location > .right-panel .text-box .traits-box {
  height: 20px;
}

.card.location > .right-panel .text-box .ability-box {
  height: 130px;
}

.card.attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.attachment > .top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.attachment > .top-panel > .left-panel, .card.attachment > .top-panel > .right-panel {
  width: 35px;
}

.card.attachment > .top-panel > .center-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.attachment > .center-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card.attachment > .center-panel .text-box {
  height: 110px;
}

.card.attachment > .center-panel .text-box .traits-box {
  height: 20px;
}

.card.attachment > .center-panel .text-box .ability-box {
  height: 90px;
}

.card.attachment > .bottom-panel {
  height: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card.attachment > .bottom-panel .name-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.attachment > .bottom-panel .name-box {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 0px;
}

.card.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.event > .top-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card.event > .top-panel > .left-panel, .card.event > .top-panel > .right-panel {
  width: 35px;
}

.card.event > .top-panel > .center-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.event > .top-panel > .center-panel > .top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card.event > .top-panel > .center-panel > .top-panel .name-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 0px;
}

.card.event > .top-panel > .center-panel > .bottom-panel .watermark-box {
  padding-top: 25px;
}

.card.event > .top-panel > .right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.event > .bottom-panel .text-box {
  height: 150px;
}

.card.event > .bottom-panel .text-box .traits-box {
  height: 20px;
}

.card.event > .bottom-panel .text-box .ability-box {
  height: 130px;
}

.card.plot > .rotate {
  width: calc(333px - 30px);
  height: calc(240px - 30px);
  -webkit-transform-origin: calc(calc(333px - 30px) * 0.5) calc(calc(333px - 30px) * 0.5);
          transform-origin: calc(calc(333px - 30px) * 0.5) calc(calc(333px - 30px) * 0.5);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.plot > .rotate .plot-stat {
  height: 32px;
  width: 32px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.card.plot > .rotate > .top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 40px;
}

.card.plot > .rotate > .top-panel > .left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 35px;
  width: 110px;
  padding: 5px 0px 0px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card.plot > .rotate > .top-panel > .left-panel .card-income {
  border-radius: 50%;
  background-color: #FFD240;
}

.card.plot > .rotate > .top-panel > .left-panel .card-initiative {
  background-color: #9A6E43;
  border-radius: 10%;
}

.card.plot > .rotate > .top-panel > .left-panel .card-claim {
  border-radius: 50%;
  background-color: #919191;
}

.card.plot > .rotate > .top-panel > .right-panel {
  width: 193px;
}

.card.plot > .rotate > .top-panel > .right-panel .name-box {
  height: 35px;
  font-size: 18px;
  padding: 5px 5px 0px 5px;
}

.card.plot > .rotate > .center-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.plot > .rotate > .center-panel > .left-panel, .card.plot > .rotate > .center-panel > .right-panel {
  width: 35px;
}

.card.plot > .rotate > .center-panel > .left-panel {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.plot > .rotate > .center-panel > .left-panel .decklimit-box {
  font-size: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.plot > .rotate > .center-panel > .center-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.plot > .rotate > .center-panel > .right-panel {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5px;
}

.card.plot > .rotate > .center-panel > .right-panel .faction-box {
  width: 35px;
}

.card.plot > .rotate > .center-panel > .right-panel .card-reserve {
  border-radius: 30%;
  background-color: #E84F27;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card.plot > .rotate > .bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.plot > .rotate > .bottom-panel .text-box {
  height: 80px;
  padding-bottom: 0px;
}

.card.plot > .rotate > .bottom-panel .text-box .traits-box {
  height: 20px;
}

.card.plot > .rotate > .bottom-panel .text-box .ability-box {
  height: 60px;
}

.card.agenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.agenda > .top-panel .name-box {
  height: 35px;
}

.card.agenda > .top-panel .type-box {
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card.agenda > .center-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.agenda > .center-panel .watermark-box {
  padding-top: 10px;
}

.card.agenda > .bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.card.agenda > .bottom-panel .text-box {
  height: 150px;
}

.card.agenda > .bottom-panel .text-box .traits-box {
  height: 20px;
}

.card.agenda > .bottom-panel .text-box .ability-box {
  height: 130px;
}
